form {
    font-size: 16px;
}
.Input {
    background-color: #F6F6F6;
    color: #A9A9A9;
    font-family: inherit;
    font-size: inherit;
    border: 0;
    padding: 5px;
}
.Submit {
    background-color: #D8CCB4;
    color: #fefefe;
    font-family: inherit;
    font-size: inherit;
    border: 0;
    margin: 0 5px 0 0;
    padding: 5px;
    user-select: none;
}
.Submit:active {
    background-color: #938a7b;
}